<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BdProject.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=//localhost/;PASSWORD=pass;USER ID=FILO" />
    </connectionStrings>
</configuration>